<h2>What's it all about?</h2>

<h4>The Healthy Escape connects you to a community of individuals who want to help you stay healthy!</h4>
<h3>You can find suggestions for healthy alternatives to unhealthy behaviors.</h3>
<ul>
  <li>Are you trying to lose weight and battling the lure of free office cookies?</li>
  <li>Do you want to quit smoking but are constatly surrounded by smokers?</li>
  <li>Did you recently quit drinking but have a big even coming up?</li>
</ul>
<h4>Ask "The Healthy Escape" community for support and suggestions, we are here for you!</h4>
<p>If you're committed to staying healthy, but are finding it hard to do so with so many temptations join our supportive network and share your experience.</p>

<p>Add code of conduct Here</p>

{{outlet}}
