<h3>Temptated by unhealthy behavior all around you?</h3>
<h3>Need help finding a Healthy Escape?</h3>
<br>
<h4>The Healthy Escape connects you to a community of individuals who want to help you stay healthy!</h4>
<ul>
  <li>Are you trying to lose weight while battling the lure of free office cookies?</li>
  <li>Do you want to quit smoking but are constatly surrounded by smokers?</li>
  <li>Did you recently quit drinking but have a big event coming up?</li>
</ul>
<h5>Ask "The Healthy Escape" community for support and suggestions, and contribute some of your own. But first, please read the code of conduct!</h5>
<h3>Add additional page for code of conduct and confirm for question!</h3>

{{outlet}}
