<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <h1><img src="/images/health.jpg" alt="logo" style="width:100px; height:100px;">The Healthy Escape</h1>
      <div class="header-routes">
        <ul class="nav navbar-nav">
          <li> {{#link-to 'index'}}Home{{/link-to}} </li>
          <li> {{#link-to 'about'}}About{{/link-to}} </li>
          <li> {{#link-to 'code-of-conduct'}}Code of Conduct{{/link-to}} </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
{{outlet}}
</div>
<br>
<footer>
  <div class="container">Be kind, be supportive. Please abide by The Healthy Escape's {{#link-to 'code-of-conduct'}}code of conduct!{{/link-to}}</div>
</footer>
