<h2>The Healthy Escape Code Of Conduct</h2>
<h3>Thank you for taking the time to read the code of conduct.</h3>
<br>
<h4>By using this site you agree to the following:</h4>
<ul>
  <li>Treat all participants with respect (no harrassment)</li>
  <li>Honor participant's privacy, don't ask identifying information</li>
  <li>Do not spam</li>
  <li>Choose understanding and support over criticism</li>
</ul>

{{outlet}}
