<h2>Find healthy alternatives for unhealthy behaviors.</h2>
<br>
<h3>Folks are asking:</h3><br>
<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{outlet}}
