<h2>Find healthy alternatives for unhealthy behaviors.</h2>
<br>
<h3>Please add to the discussion!</h3>
{{new-question saveQuestion='saveQuestion'}}
<br>


  {{#each model.questions as |question|}}<hr>
  Q:{{#link-to 'question' question}} {{question.ask}}{{/link-to}}
  {{/each}}
  <hr>
